<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>User's calendar</title>
    </h:head>
    <h:body>
        <ui:composition template="mainlayout.xhtml">
            <ui:define name="content">
                <p:panel>
                    <f:facet name="header">
                        <h:panelGroup style="display: block; text-align:center">
                            <h:outputText value="This is #{usersView.loggedUser.name}'s calendar"/>
                        </h:panelGroup>
                    </f:facet>
                    <p:panel>
                        <div align="center">
                            <h:form>
                                <p:growl id="messages" showDetail="true" />

                                <h:panelGrid columnClasses="value">
                                    <p:schedule id="schedule" value="#{calendarView.eventModel}" widgetVar="myschedule" timeZone="GMT+1">


                                        <p:ajax event="eventSelect" listener="#{calendarView.onEventSelect}" update="eventDetails, eventDialog" oncomplete="PF('eventDialog').show();" />
                                        <p:ajax event="dateSelect" listener="#{calendarView.onDateSelect}"  update="newEventDetails, newEventDialog" oncomplete="PF('newEventDialog').show();"/>

                                    </p:schedule>


                                </h:panelGrid>

                                <p:dialog id="eventDialog" widgetVar="eventDialog" header="#{calendarView.event.title}" showEffect="clip" hideEffect="clip">

                                    <h:panelGrid id="eventDetails" columns="2">

                                        <h:outputLabel for="from" value="From:" />
                                        <h:outputText id="from" value="#{calendarView.event.startDate}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm" timeZone="GMT+1"/>
                                        </h:outputText>

                                        <h:outputLabel for="to" value="To:" />
                                        <h:outputText id="to" value="#{calendarView.event.endDate}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm" timeZone="GMT+1" />
                                        </h:outputText>

                                        <p:commandButton id="viewButton" value="View Event" action="#{calendarView.loadEventPage}"/>

                                    </h:panelGrid>
                                </p:dialog>

                                <p:dialog id="newEventDialog" widgetVar="newEventDialog" header="New event" showEffect="clip" hideEffect="clip">
                                    <h:panelGrid id="newEventDetails" columns="2">

                                        <h:outputLabel for="from2" value="From:" />
                                        <h:outputText id="from2" value="#{calendarView.event.startDate}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm" timeZone="GMT+1"/>
                                        </h:outputText>

                                        <h:outputLabel for="to2" value="To:" />
                                        <h:outputText id="to2" value="#{calendarView.event.endDate}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm" timeZone="GMT+1" />
                                        </h:outputText>
                                        <p:commandButton id="createButton" value="Create Event" action="#{calendarView.startWizard}"/>


                                    </h:panelGrid>
                                </p:dialog>
                            </h:form>
                        </div>
                    </p:panel>
                </p:panel>
                <style type="text/css">
                    .value {
                        width: 1000px;
                    }
                </style>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

